* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 500px;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.box {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#box1 {
    background-color: red;
}

#box2 {
    background-color: blue;
}

#box3 {
    background-color: green;
}

#box4 {
    background-color: yellow;
}

#box5 {
    background-color: black;
}